.banner {
  position: relative;
  height: 448px;
  object-fit: contain;
  color: white;
}

.banner_contents {
  margin-left: 20px;
  padding-top: 140px;
  height: 190px;
}

.banner_title {
  font-size: 3rem;
  font-weight: 800;
  padding-bottom: 0.3rem;
}

.banner_button {
  background-color: rgba(51, 51, 51, 0.5);
  color: white;
  border: none;
  outline: none;
  font-size: 1rem;
  font-weight: 700;
  margin-right: 10px;
  padding: 0.5rem 1rem;
  border-radius: 0.2vw;
  cursor: pointer;
}

.banner_button:hover {
  transition: all 0.3s;
  color: black;
  background-color: #e6e6e6;
}

.banner_desctiption {
  padding: 1rem 0rem;
  font-size: 1rem;
  width: 45rem;
  height: 80px;
  max-width: 360px;
  line-height: 1.3;
}

.banner--fadeBottom {
  height: 7.4rem;
  background-image: linear-gradient(
    180deg,
    transparent,
    rgba(37, 37, 37, 0.6),
    #111
  );
}
